.login__bg{
    background-image: url(../assests/lily-miller-wTjsa3zt6GE-unsplash.jpg);
    height:92vh;
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}